body{
	background-color: lightyellow;
}
.wrapper{
	margin:0 auto;
	width: 1170px;
}
header {
	position: relative;
	font-size: 3em;
}
header .tur{
	font-size: 2em;
	position: absolute;
	top: 40px;
	color: blue;
	font-weight: bold;
}
header .tur .byuro{
	color: green;
}

header h2 {
	position: absolute;
	right: 0;
	top: 0
}
nav{
	display: block;

}
.info{
	background-image:url(../img/nature.jpeg) no-repeat ;
	
}