body{
	font-family: "Maven Pro",sans-serif; 
}
.main{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	height: 100vh;
	min-height: 600px;
	background: url(img/fon.png) no-repeat center;
	background-size: cover;
	position: relative;
	color: #fff;
}
.logo{
	display: flex;
	height: 50px;
	position: relative;
	margin-left: 30px;
}
.logo h1{
position: absolute;
top: -20px;
left: 60px;
}
.main-overlay{
	position: absolute;
	left: 0;top: 0;
	width: 100%;
	height: 100%;
	opacity: 0.8;
	z-index: 0;
	background-image: -moz-linear-gradient( 150deg, rgb(136,211,206) 0%, rgb(110,69,226) 100%);
	background-image: -webkit-linear-gradient( 150deg, rgb(136,211,206) 0%, rgb(110,69,226) 100%);
	background-image: -ms-linear-gradient( 150deg, rgb(136,211,206) 0%, rgb(110,69,226) 100%);
}
.header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 10vh;
	position: relative;
	z-index: 2;
	width: 90%;
}
.menu{
	width: 60%;
}
.menu ul{
	display: flex;
	justify-content: space-around;
	list-style:none;
}
.menu-link{
	text-decoration: none;
	color: #fff;
}

.get-started-btn{
	border: 1px solid #fff;
	padding: 10px 20px;
	border-radius: 100px;
	text-transform: uppercase;
	margin-left: 50px;
}
.main-text h1{
	font-size: 60px;
}
.main-text{
	position: relative;
	z-index:2;
	text-align: center;
	margin-top: 250px;
}
.main-text span{
	display: inline-block;
}
.arrow-down{
	position: absolute;
	margin-top: 300px;

	width: 55px;
	height: 55px;
	background: #fff;
	border-radius: 50%;
	margin-left: 300px;
	color: gray;
	text-align: center;
	font-size: 16px;
}
.arrow-down:hover{
	cursor:pointer;
}
.circle{
	width: 50px;
	height: 50px;
	background-color: #fff;
	border-radius: 50%;
	position: relative;
	margin-left: 730px;
	margin-top: 330px;
	cursor: pointer;
}
.circle img{
	position: absolute;
	top: 16px;
	left: 17px;
}

/* box-2 */



.box-2{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	height: 100vh;
	min-height: 600px;
}

.box-2-select-plan{
	text-align: center;
	margin-top: 50px;
}
.box-2-select-plan h5{
	color: gray;
	text-transform: uppercase;
}
.box-2-select-plan h2{
	color: #4f4f6f;
	font-size: 2em;
	text-transform: uppercase;
}
.box-2-select-plan p {
	color: gray;
	width: 400px;
}

/* elements */

.element-text{
	margin-top: 100px;
}

.elements{
	display: flex;
	justify-content: space-around;
	align-items: center;
	text-align: center;
	color: gray;

}
.element-1{
	width: 450px;
	border: 1px solid gray;
	height: 650px;
	border-radius: 50px;

}

.element-2{
	width: 450px;
	border: 1px solid gray;
	height: 650px;
	border-radius: 50px;
	margin-left: 10px;
	
}
.element-3{
	width: 450px;
	border: 1px solid gray;
	height: 650px;
	border-radius: 50px;
	margin-left: 10px;
}
.elements p {
	width: 300px;
	margin-left: 75px;
}

.element-1:hover{
 	box-shadow: 0px 0px 8.88px 10.12px rgba(204, 204, 223, 0.71);
}
.element-2:hover{
	box-shadow: 0px 0px 8.88px 10.12px rgba(204, 204, 223, 0.71);
}
.element-3:hover{
	box-shadow: 0px 0px 8.88px 10.12px rgba(204, 204, 223, 0.71);
}

/* button */


.element-button{
	width: 160px;
	height: 30px;
	border:1px solid lightgray;
	border-radius: 50px;
	margin-left: 150px;
	margin-top: 100px;
	text-transform: uppercase;
	padding-top: 8px;
	color: gray;
	cursor: pointer;
	box-shadow: 0px 0px 10px 2px rgba(204, 204, 223, 0.71);
	
}
.element-button:hover{
	background-color: #6e45e2;
	color: #fff;
	transition: 0.3s;
}
.elements span{
	font-size: 1.5em;
	color: #4f4f6f;
}







.Rounded_Rectangle_2 {
  border-radius: 30px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 81.88px 10.12px rgba(204, 204, 223, 0.71);
  position: absolute;
  left: 740px;
  top: 1151px;
  width: 440px;
  height: 648px;
  z-index: 85;
}

