.my-slider{
    width: 300px;

    margin: 0 auto;
    display: inline;
    margin-left: 300px;
    
}


.my-slider .slide-img{
    width: 300px;
    height: 200px;
   
}

.my-slider button{
   font-size: 1.2em;
   border-radius: 5px;
}